{% extends 'home.html' %}
{% block body %}
<h2>Мои заказы</h2>
<a href="{% url 'order_create' %}">Создать заказ</a>
<ul>
  {% for o in orders %}
    <li>#{{ o.id }} — {{ o.status }} — {{ o.total_price }} — {{ o.created_at }}
      <div>
        <small>Подтверждение сохраняется в папку outbox: order_{{ o.id }}_confirmation.txt</small>
      </div>
      <ul>
        {% for i in o.items.all %}
          <li>{{ i.product.name }} × {{ i.quantity }} = {{ i.price }}</li>
        {% endfor %}
      </ul>
    </li>
  {% empty %}
    <li>Заказов нет</li>
  {% endfor %}
  </ul>
{% endblock %}


